
body{
font-family: Arial, sans-serif;
background:#f5f7fb;
margin:0;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    padding: 20px;
}

h1{text-align:center;}

.dashboard{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  margin:20px 0;
}
.card{
  background:white;
  padding:15px;
  border-radius:8px;
  box-shadow:0 2px 6px rgba(0,0,0,.05);
}

.green{color:green;}
.red{color:red;}

.jobs-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:20px;
}

.tabs button{
  padding:8px 14px;
  margin-right:5px;
  border:none;
  background:#e0e6f0;
  cursor:pointer;
  border-radius:5px;
}

.tabs .active{
  background:#3b82f6;
  color:white;
}


.job{
  background:white;
  padding:15px;
  margin-top:15px;
  border-radius:8px;
  box-shadow:0 2px 6px rgba(0,0,0,.05);
}

.job h4{
  font-weight:600; 
  font-size:18px;
  margin:0;
}

.job .position{
  font-weight:400; 
  font-size:16px;
  margin:5px 0;
}


.job .details{
  color:#6b7280; 
  font-size:14px;
  margin:2px 0 8px 0;
}

.badge{
  display:inline-block;
  margin-top:5px;
  padding:4px 10px;
  border-radius:5px;
  color:white;
  font-size:12px;
}

.buttons{
  margin-top:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.buttons .left-buttons button{
  padding:6px 10px;
  margin-right:6px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.interview{background:#22c55e;color:white;}
.rejected{background:#ef4444;color:white;}
.not-applied{background:#6b7280;color:white;}

.delete-icon{
  display: inline-block;
  width: 24px; 
  height: 24px;
  border: 2px solid #f1f2f4;
  border-radius: 50%;

  background-image: url('./Trash.png');
  background-repeat: no-repeat;
  background-position: center;     
  background-size: 60%;           

  cursor: pointer;
}

.short-desc{
  margin:8px 0 0 0;
  font-size:14px;
  color:#374151;
}

.empty{
  text-align:center;
  margin-top:50px;
  color:#666;
}